<h1>New review</h1>

<H2>Review for <%= @restaurant.name %> </H2>

<%= form_for [@restaurant, @review] do |r| %>
  <%= r.label :author, 'Your Name' %>:
  <%= r.text_field :author %> <br/>
  <%= r.label :comment, 'Your Review' %>:
  <%= r.text_area :comment %><br/>
  <%= r.submit %>
<% end %>

<%= link_to 'Back', @restaurant %>

