<h1>Review</h1>

<p><%= @restaurant.name %></p>

<p><%= @review.comment %></p>
<p><%= @review.author %></p>


<%= link_to "All Resturants", restaurants_path %>
<%= link_to "All Reviews", restaurant_reviews_path %>
